# Created by .ignore support plugin (hsz.mobi)
/.idea/
/40_Web/Demo/10_web/.vertx/
/40_Web/Demo/10_web/.idea/
/40_Web/Demo/10_web/out/
/40_Web/Demo/10_web/build/
/40_Web/Demo/20_webclient/out/
/40_Web/Demo/20_webclient/.idea/
/40_Web/Demo/20_webclient/build/
/40_Web/Demo/20_webclient/.vertx/
/40_Web/Demo/30_webproxy/.idea/
/40_Web/Demo/30_webproxy/.vertx/
/40_Web/Demo/30_webproxy/out/
/40_Web/Demo/30_webproxy/build/
/40_Web/Demo/20_webclient/.gradle/
/40_Web/Demo/30_webproxy/.gradle/
/30_Core/first/.gradle/
/30_Core/first/.idea/
/30_Core/first/build/
/40_Web/Demo/10_web/.gradle/
/40_Web/Demo/20_webclient/.idea/modules/10_web_main.iml
/40_Web/Demo/20_webclient/.idea/modules/10_web_test.iml
/40_Web/Demo/20_webclient/.idea/modules/10_web.iml
30_Core/first/src/main/resources/
30_Core/first/src/test/
40_Web/Demo/10_web/src/main/resources/
40_Web/Demo/10_web/src/test/
40_Web/Demo/20_webclient/src/main/resources/
40_Web/Demo/20_webclient/src/test/
40_Web/Demo/30_webproxy/src/main/resources/
40_Web/Demo/30_webproxy/src/test/
/40_Web/Demo/10_simple/.vertx/
/40_Web/Demo/10_simple/out/
/40_Web/Demo/10_simple/.idea/
/40_Web/Demo/10_simple/.gradle/
/50_DataBase/Demo/10_simple/10_simple.iml
/50_DataBase/Demo/10_simple/.idea/
/50_DataBase/Demo/10_simple/build/
/50_DataBase/Demo/10_simple/out/
/50_DataBase/Demo/10_simple/.vertx/
/50_DataBase/Demo/10_simple/.gradle/
